---
import Container from '@/components/Container.astro'
import { Separator } from '@/components/ui/separator'
import { SOCIAL_LINKS } from '@/consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer class="py-4">
  <Container>
    <div class="flex items-center justify-between gap-x-2">
      <div class="flex items-center gap-x-1 sm:gap-x-2">
        <span class="text-xs sm:text-sm text-muted-foreground">
          &copy; {new Date().getFullYear()}
        </span>
        <Separator orientation="vertical" className="h-3 sm:h-4" />
        <p class="text-xs sm:text-sm text-muted-foreground">
          Made with 🤍 by <Link
            href="https://github.com/lavarrezel"
            class="text-foreground"
            external
            underline>lavarrezel</Link
          >.
          Awesome template by <Link
            href="https://github.com/jktrn"
            class="text-foreground"
            external
            underline>enscribe</Link
          >.
        </p>
      </div>
      <div class="shrink-0">
        <SocialIcons links={SOCIAL_LINKS} />
      </div>
    </div>
  </Container>
</footer>