---
import Container from '@/components/Container.astro'
import { Separator } from '@/components/ui/separator'
import { SOCIAL_LINKS } from '@/consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'

const currentYear = new Date().getFullYear();
---

<footer class="mt-auto w-full border-t border-border bg-background">
  <Container>
    <div class="flex flex-col items-center justify-between py-6 sm:flex-row-reverse sm:py-4">
      <!-- Social Icons -->
      <div class="mb-2 sm:mb-0">
        <SocialIcons links={SOCIAL_LINKS} centered />
      </div>

      <!-- Copyright + Info -->
      <div class="flex flex-col items-center text-xs text-muted-foreground sm:flex-row">
        <span>&copy; {currentYear}</span>
        <span class="hidden sm:inline px-2">|</span>
        <p class="text-center sm:text-left">
          Made with 🤍 by <Link href="https://github.com/lavarrezel" class="text-foreground" external underline>lavarrezel</Link>.
          Awesome template by <Link href="https://github.com/jktrn" class="text-foreground" external underline>enscribe</Link>.
        </p>
      </div>
    </div>
  </Container>
</footer>
